# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
dist

# misc
.cache
*.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-debug.log*
yarn-error.log*
/client/.vs/client/config/applicationhost.config
/client/.vs/client/v16/.suo
/client/.vs
/server/.vs
